/SERVER/node_modules
/SERVER/package-lock.json
/esp826IOT/config.h
/SERVER/.env
/SERVER/node_modules
/SERVER/package-lock.json
/sistema-de-queda/SERVER/node_modules
/sistema-de-queda/SERVER/package-lock.json
