/server/node_modules
/server/package-lock.json
/esp826IOT/config.h
/server/.env
/server/node_modules
/server/package-lock.json
/sistema-de-queda/server/node_modules
/sistema-de-queda/server/package-lock.json
